.container {
    width: 250px;
    overflow: hidden;    
    margin: 20px;
    min-height: 200px;  
    animation: aparecer 2s;      
}

@keyframes aparecer {
  from {
    transform:opacity(0);
  } to {
    transform: opacity(1);
  }
  
}


.photo-pokemon {
  transition: 1s;
}

.photo-pokemon:hover {
  transform: scale(1.5)
}

.container-info {
    animation-duration: 1s;
    animation: aparecer 1s; 
}

@keyframes aparecer {
    from {
      opacity: 0;
    }
  
    to {
     opacity: 1;
    }
  }
.container img {
    width: 100%;
}