body {
  background: linear-gradient(217deg, rgba(255,0,0,.3), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.3), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.3), rgba(0,0,255,0) 70.71%);
  
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.espaciador {
  height: 20vh;
}


.container-pokemons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap ;
}

.load-more {
  width: 90%;
  background:#02c8a5 ;
  margin-bottom: 20px;
  border: none;
  padding: 20px 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  
}

.not-found {
  margin-top: 100px;
}

